@font-face {
  font-family: $font-normal;
  src: font('EncodeSans-Light.ttf');
}

@font-face {
  font-family: $font-regular;
  src: font('EncodeSans-Regular.ttf')
}

@font-face {
  font-family: $font-bold;
  src: font('EncodeSans-Bold.ttf')
}